<a href="https://colab.research.google.com/github/Jyothireddy17256/11239A071_DAA_Lab/blob/main/11239A071_ex1_tower_of_hanoi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def tower(n, source, aux, target):
    if n == 1:
        print(f"move disk 1 from {source}to{target}")
        return
    tower(n - 1, source, target, aux)
    print(f"move disk {n} from {source}to{target}")
    tower(n - 1, aux, source, target)

# Change 'name' to '__name__' to correctly check if the script is the main program
if __name__ == "__main__":
    n = int(input("enter a number"))
    tower(n, 'a', 'b', 'c')

enter a number3
move disk 1 from atoc
move disk 2 from atob
move disk 1 from ctob
move disk 3 from atoc
move disk 1 from btoa
move disk 2 from btoc
move disk 1 from atoc